<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Task</title>
</head>
<body>

    <h1><b>List of API/Endpoints: </b></h1>
    <h3><li>To create Category and sub-category : <a href="add-category">http://localhost:8000/add-category</a></li>
    <br><li>To Get all Product : <a href="get-product-data">http://localhost:8000/get-product-data</a> </li>
    <br><li>To Create Product : <a href="create-product-data">http://localhost:8000/create-product-data</a> </li>
    <br><li>To Edit Product : <a href="edit-product-data">http://localhost:8000/edit-product-data/</a> <b><u>Note: Specify Id to be edited in url</u></b> </li> 
    <br><li>To Delete product : <a href="del-product-data">http://localhost:8000/del-product-data/</a> <b><u>Note: Specify Id to be deleted in url</u></b></li>
    <br><li>To send excel file using celery : <a href="send-excel-file">http://localhost:8000/send-excel-file</a> </li>
    <br><li>To Get List of all product using Redis caching : <a href="list-of-product">http://localhost:8000/list-of-product</a> </li>
    <br><li>To Schedule Email  : <a href="schedule-email">http://localhost:8000/schedule-email</a> </li></h3>

</body>
</html>